{% extends 'rango/base.html' %}

{% block body_block %}
        <h1>Login to Rango</h1>
        <form id="login_form" class="form-horizontal well" method="post" action="/rango/login/">
            <fieldset>
            {% csrf_token %}
	            <div class="control-group">
	            	<label class="control-label">Username:</label> 
	            	<div class="controls">
	            		<input type="text" class="form-control" name="username" value="" size="50" />
	            	</div>
	            </div>
	            <div class="control-group">
	            	<label class="control-label">Password:</label> 
	            	<div class="controls">
	            	    <input type="password" class="form-control" name="password" value="" size="50" />
	            	</div>
	            </div>
	            <hr>
	            <div class="form-actions">
	            	<button type="submit" class="btn btn-primary">Submit</button>
	            </div>
            </fieldset>
        </form>
{% endblock %}